DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USERNAME=2JJotSSdE6GFAki.root
DB_PASSWORD=J7gUdgFg18WEUvFg
DB_NAME=smartwash
DB_SSL_CA=./certs/ca.pem
DB_SSL_VERIFY_CERT=true
DB_SSL_VERIFY_IDENTITY=true
